* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.contenedor {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8) 20%,
        rgba(0, 0, 0, 0.6) 70%,
        rgba(0, 0, 0, 0) 100%
    );
    backdrop-filter: blur(5px);
    padding: 1rem 0;
}

.contenedor-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    
    
}
div.item {
    text-align: center;
}

.bandera img {
    width: 40px; 
    height: auto; 
}

.fondo {
    background-image: url(/img/indexback.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}


